@font-face {
  font-family: "RedHatText";
  src: url("/assets/fonts/static/RedHatText-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "RedHatText";
  src: url("/assets/fonts/static/RedHatText-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RedHatText";
  src: url("/assets/fonts/static/RedHatText-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RedHatText';
  background-color: hsl(13, 31%, 94%);
}

.product {
  height: 200px;
  width: 230px;
}

.titre {
  position: relative;
  left: 9%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.ThreeCard {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin-top: 40px;
}

.Panier {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  height: fit-content;
  width: 330px;
  padding: 20px;
  margin-left: 20px;
}

.Panier h2 {
  color: hsl(14, 86%, 42%);
  margin-right: 150px;
}

.Panier p {
  color: hsl(12, 20%, 44%);
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  margin-left: 50px;
}

.french {
  color: hsl(7, 20%, 60%);
  margin: 30px 0px 5px 0px;
}

.english {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  margin: 0px 0px;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
  margin: 5px 0px 20px 0px;
}

.btnAdd {
  border-radius: 50px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #000;
  position: absolute;
  top: 90%;
  background-color: #fff;
  cursor: pointer;
}

.btnAdd:hover {
  border:1px solid hsl(14, 86%, 42%);
  color: hsl(14, 86%, 42%);
}

.svg {
  height: 20px;
  width: 20px;
}

.buttonAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.added {
  background-color: hsl(14, 86%, 42%);
  color: #fff;
}

.maincard {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.confirm-order {
  border-radius: 50px;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #000;
  background-color: hsl(14, 86%, 42%);
  color: #fff;
  display: none;
  position: relative;
  left: 10%;
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 10px;
  display: none;
}

.hidden {
  display: none;
}

#empty-cart-message {
  display: block;
}

.btnQuantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c73a0f;
  color: #fff;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 90%;
  border: 1px solid #000;
}

.btnQuantity button {
  display: flex;
  gap: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0 5px;
  border-radius: 100%;
  border: 1px solid #fff;
}


.btnQuantity .quantity {
  font-size: 15px;
}

.btnAdd.added {
  background-color: hsl(14, 86%, 42%);
  color: #fff;
}

.confirm-order:hover {
  background-color:  hsl(14, 86%, 30%);
  cursor: pointer;
}

.btnPlus {
  align-items: center;
  justify-content: center; 
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.btnMinus {
  align-items: center;
  justify-content: center; 
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: #fff;
}


.btnMinus:hover, .btnPlus:hover {
  background-color: #fff;
  color: #c73a0f; }


#paniervide {
  position: relative;
  left: 30%;
}

.order-total{
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
  
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
}

#cart-total {
  font-weight: 900;
  font-size:x-large
}

#cart-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 0px 20px;
  gap: 20px;

}

#cart-items li {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding: 0 10px 50px 0px;
  width: fit-content;
}

#cart-items .item-quantity {
  color: #c73a0f;
}

.items-price {
  color:#87635a;
  position: absolute;
  margin-left: 113px;
  margin-top: 11px;
  }

  .totalprice{
    color:  #c9aea6;
    position: absolute;
    margin-left: 46px;
    margin-top: 32px;
    }


.item-quantity {
 position: absolute;
 padding: 10px 0px;
}

.delete-button {
  display: flex;
  position: absolute;
  margin-left: 270px;
  background: none;
  border-radius: 11px;
  cursor: pointer;
}